/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#logo-container {
	background-image: url("../image/logo.png");
	min-height: 40px;
	min-width: 118px;
	margin-top: 10px;
    /*opacity: 0.8;*/

}

.header-personalizacion{
    opacity: 0.8;
}



@media only screen and (min-width: 992px){
    .img-wrap {
        text-align: center;
        /* float: left; */
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 35px;
        margin-left: 35px;

    }

    .img-wrap img {
        display: block;
        max-height: 80px;
        max-width: 80px;

    }

    .img-wrap img.top-lg {
        margin-top: 30px;
    }
}


.tabla td, th
{
	padding: 0px 0px;
}

.card-additional {
    height: 25em;
}


@media only screen and (max-width: 760px) {
  .container-birthday { display: none; }
  .calendario_google { display: none; }



    .img-wrap {
        text-align: center;
        float: left;
        margin-bottom: 5px;
        margin-right: 10px;
        margin-left: 10px;

    }


    .img-wrap img {
        display: block;
        max-height: 40px;
        max-width: 40px;

    }

    .img-wrap h6{
         display: none;
    }

    .card-additional {
        height: 33em;
        /*padding-bottom: 40px;*/
    }
}

.scroll-to-top {
display: none;
position: fixed; bottom: 30px; right: 50px;
width: 80px;
height: 25px;
font: bold 0.9em/1.2em Arial, Helvetica, sans-serif; color: #bbb; text-transform: uppercase; text-decoration: none;
padding: 10px;
background-color:black;
border-radius: 5px;
box-shadow: 5px 5px 1px #333;
text-align:center;
}
.scroll-to-top:hover { text-decoration: none; }